body,h1,h2,h3,h4,h5,h6,from,input,p,ul,ol,li,textarea,select{
    margin: 0;
    padding: 0;
    list-style: none;
}
*{
    -webkit-tap-highlight-color:transparent;
    -webkit-appearance:none;
    -webkit-text-size-adjust:100%;
}
body{
    background: #e9eaed;
    font: 16px/1.5 sans-serif ;
}
a{
    color: #ffffff;
    text-decoration: none;
}
img{
    width: 100%;
    height: 100%;
    display: block;
}