@import "base.css";
header{
    height:0.27rem;
    line-height:0.27rem;
    font-size:0.27rem;
    color:#4ebbfe;

    display:flex;
}
header>li{
    height:0.27rem;
    width:1.20rem;
    line-height:0.27rem;
    font-size:0.27rem;
    color:#4ebbfe;
    padding-top:0.1rem;
}
header>li>span{
    width:0.15rem;
    height:0.13rem;
}
header>li>p{
    text-align:center;
    color:#4ebbfe;
}
.tablist{
    width:3.75rem;
    height:0.30rem;
    background:#FFFFFF;
    float:left;
    margin-top:0.2rem;
}
.listTitle{
    width:3.75rem;
    height:0.05rem;
    position:relative;
}
.listTitle >span1{
    width:0.05rem;
    height:0.05rem;
    background:#FFFFFF;
}
.listTitle >span1 >img{
    width:0.3rem;
    height:0.3rem;
}
.listTitle >a{
    height:0.16rem;
    color:#48fff2;
    line-height:0.16rem;
    position:absolute;
    left:0.3rem;
    top:0.05rem;
}
.listTitle>span{
    color:#48fff2;
    position:absolute;
    left:0.86rem;
    top:0.09rem;
}
.listTitle >span2{
    width:0.13rem;
    height:0.13rem;
    background:#48fff2;
    position:absolute;
    left:3.47rem;
    top:0.07rem;
}
.listTitle >span2 >img{
    width:0.13rem;
    height:0.13rem;
}
.content{
    width:3.75rem;
    height:5.7rem;
    float:left;
    margin-top:0.20rem;
}
.content ul{
    width:3.75rem;
    height:1.0rem;
    background:#FFFFFF;
    padding-left:0.12rem;
    margin-top:0.1rem;
}
.content li{
    width:0.70rem;
    height:0.70rem;
    float:left;
}
.content li>img{
    width:0.60rem;
    height:0.60rem;
}
.content ul span{
    width:3rem;
    height:0.70rem;
    float:left;
    position:relative;
}
.content ul span p1{
    position:absolute;
    left:0;
    top:0;

}
.content ul span p2{
    color:#d4c3ff;
    position:absolute;
    left:0;
    top:0.3rem;
}
.content ul span p3{
    position:absolute;
    left:2rem;
    top:0;
}
.content ul span p3 img{
    width:0.8rem;
    height:0.3rem;
}
.bottom{
    width:3.75rem;
    height:0.5rem;
    background: #FFFFFF;
    float:left;
}
.bottom .left{
    height:0.4rem;
    width:1.5rem;
    color:#48fff2;
    padding-left:0.1rem;
    float:left;
}
.bottom .right{
    width:2.0rem;
    height:0.4rem;
    float:left;

}
.bottom .right img{
    width:2.0rem;
    height:0.4rem;
}

