@import "base.css";
html{
    font-size: 100px;
}
body{
    font-size: 16px;
    background: #ffffff;
}
@media screen and (max-width:320px ) {
    html{
        font-size:42.66667px;
    }
}
@media screen and (max-width:360px ) {
    html{
        font-size:48px;
    }
}
@media screen and (max-width:375px ) {
    html{
        font-size:50px;
    }
}
@media screen and (max-width:412px ) {
    html{
        font-size:54.93333px;
    }
}
@media screen and (max-width:414px ) {
    html {
        font-size: 55.2px;

    }
}
header{
    height: 0.88rem;
    width: 100%;
    padding: 0 0.22rem;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    line-height: 0.88rem;
    color:#4ebbfe;
    font-size:0.38rem;
    box-shadow: 0 0.03rem 0.43rem 0 rgba(41,167,255,0.13);
    position: fixed;
    top:0;
    background: #fbfeff;
    z-index: 9999999;
}
header .left{
    float: left;
    width: 0.25rem;
    height: 0.42rem;
    color:rgb(54,168,254) ;
    margin-left: 0.24rem;
}
header div span{
    float: left;
    display: block;
    color: rgb(78,187,254);
    font-size: 0.3rem;
    margin-left: 2.15rem;
}
.center{
    width: 100%;
    box-sizing: border-box;
    padding: 1.56rem 0.25rem 0 0.78rem ;
    overflow: hidden;
}
.center ul li{
    width: 100%;
    height: 2.59rem;
    border-bottom: 0.02rem solid #eef1f2;
    margin-bottom: 0.86rem;
    position: relative;
}
.center ul .cc::after{
    content: '';
    width:0.24rem;
    height: 0.24rem;
    background-image: linear-gradient(90deg,
    #37e06f 0%,
    #31d69a 100%),
    linear-gradient(
            #e7f6ff,
            #e7f6ff);
    box-shadow: 0px 4px 20px 0px
    rgba(55, 223, 116, 0.75);
    top: 0.73rem;
    left: -0.5rem;
    position: absolute;
    border-radius: 50%;
}
.center ul li::before{
    content: '';
    width: 0.24rem;
    height: 0.24rem;
    background-color: #e7f6ff;
    border-radius: 50%;
    top: 0.73rem;
    left: -0.5rem;
    position: absolute;
}
.center ul li .top{
    display: flex;
    justify-content: flex-start;

}
.center ul li .top img{
    width: 1.74rem;
    height: 1.74rem;
}
.center ul li .top .center1{
    box-sizing: border-box;
    padding-top: 0.45rem;
    padding-left: 0.24rem;
}
.center ul li .top .center1 p{
    font-size: 0.3rem;
    color: #000000;
    width: 2.15rem;
    height: 0.28rem;
    margin-bottom: 0.3rem;
}
.center ul li .top .center1 span{
    width: 0.51rem;
    height: 0.18rem;
    font-size: 0.26rem;
    color: #8e9397;
    opacity: 0.8;
}
.center ul li .top .right{
    display: flex;
    box-sizing: border-box;
    padding-top: 0.45rem;
    padding-left: 0.4rem;
}
.center ul li .top .right img {
    display: flex;
    width: 0.34rem;
    height: 0.34rem;
}
.center ul li .top .right p{
    width: 0.23rem;
    height: 0.18rem;
    font-size: 0.26rem;
    color: #36a8fe;
    margin-left: 0.17rem;
    margin-right: 0.17rem;
}
.center .xuanze p{
    width: 0.49rem;
    height: 0.23rem;
    font-size: 0.24rem;
    color: #3bacfe;
}
.bottom{
    width: 100%;
    height: 1.82rem;
    position: fixed;
    bottom: 0;
}
.bottom .quanxuan{
    height: 0.73rem;
    margin-left: 0.78rem;
}
.bottom .quanxuan p{
    position: relative;
}
.bottom .quanxuan p::before{
    content: '';
    width: 0.24rem;
    height: 0.24rem;
    background-color: #e7f6ff;
    border-radius: 50%;
    top: 0.11rem;
    left: -0.5rem;
    position: absolute;
}
.bottom .xiamian{
    display: flex;
    height: 1.1rem;
    justify-content: space-between;
    background-color: #f1faff;
}
.bottom .left{
    display: flex;
    flex-direction: column;
    margin-left: 0.38rem;
}
.bottom .left strong{
    margin-top: 0.1rem;
}
.bottom .left strong p{
    float: left;
    width: 0.8rem;
    height: 0.23rem;
    font-size: 0.24rem;
    color: #3bacfe;
    opacity: 0.6;
    margin-top: 0.1rem;
    position: relative;
}
.bottom .left strong span{
     width: 0.82rem;
     height: 0.26rem;
     font-size: 0.36rem;
     color: #36a8fe;
 }
.bottom .left .hot{
    width: 2.01rem;
    height: 0.19rem;
    font-size: 0.2rem;
    color: #3bacfe;
    opacity: 0.6;
    position: relative;
}
.bottom .left strong p::before{
     content: '';
     width: 0.05rem;
     height: 0.05rem;
     background-color: #44b5ff;
     border-radius: 50%;
     top: 0.17rem;
     left: -0.1rem;
     position: absolute;
 }
.bottom .left .hot::before{
    content: '';
    width: 0.05rem;
    height: 0.05rem;
    background-color: #44b5ff;
    border-radius: 50%;
    top: 0.13rem;
    left: -0.1rem;
    position: absolute;
}
.bottom .right .pict{
    width: 3.8rem;
    height: 0.6rem;
    display: flex;
    margin-top: 0.26rem;
    margin-right: 0.24rem;
    background-image: linear-gradient(90deg,
    #37e06f 0%,
    #31d69a 100%),
    linear-gradient(
            #3bacfe,
            #3bacfe);
    box-shadow: 0 0.04rem 0.2rem 0
    rgba(55, 223, 116, 0.75);
    border-radius: 0.3rem;
}
.bottom .right .pict div{
    width: 0.5rem;
    height: 0.24rem;
    font-size: 0.24rem;
    letter-spacing: 0.01rem;
    color: #ffffff;
    margin-top: 0.11rem;
    margin-left: 1.56rem;
}
.second{
    margin-top: 3.17rem;
    width: 3.75rem;
}
.image{
    width: 2.8rem;
    height: 2.58rem;
    margin-left: 1.95rem;
}
.second .zi p{
    width: 100%;
    height: 0.26rem;
    font-size: 0.26rem;
    line-height: 0.35rem;
    letter-spacing: 1px;
    color: #000000;
    opacity: 0.4;
    margin-left: 2.4rem;
}
.second .goshopping div{
    width: 1.96rem;
    height: 0.6rem;
    background-image: linear-gradient(90deg,
    #37e06f 0%,
    #31d69a 100%),
    linear-gradient(
            #3bacfe,
            #3bacfe);
    box-shadow: 0px 4px 20px 0px
    rgba(55, 223, 116, 0.75);
    border-radius: 0.3rem;
    margin-top: 0.52rem;
    margin-left: 2.4rem;
    box-sizing: border-box;
    padding: 0.13rem 0.65rem;
}
.second .goshopping div p{
    width: 0.66rem;
    height: 0.19rem;
    font-size: 0.2rem;
    letter-spacing: 1px;
    color: #ffffff;
}