@import "base.css";
html{
    font-size: 100px;
}
body{
    font-size: 16px;
    background: #ffffff;
}
@media screen and (max-width:320px ) {
    html{
        font-size:42.66667px;
    }
}
@media screen and (max-width:360px ) {
    html{
        font-size:48px;
    }
}
@media screen and (max-width:375px ) {
    html{
        font-size:50px;
    }
}
@media screen and (max-width:412px ) {
    html{
        font-size:54.93333px;
    }
}
@media screen and (max-width:414px ) {
    html{
        font-size: 55.2px;
    }
}
header{
    width: 3.75rem;
    height: 0.45rem;
    margin-top: 0.28rem;

}
header .left{
    color: #36a8fe;
    float: left;
}
header span{
    color: #4ebbfe;
    font-size: 0.245rem;
    float: left;
    margin-left: 2.48rem;
}
.center{
    margin-top: 0.56rem;
    font-size: 0.22rem;
    margin-bottom: 0.32rem;
}
.center li div{
    float: right;

}
.center ul{
    margin-bottom: 0.32rem;
    height: 0.24rem;
}
.center ul .list1{
    margin-left: 0.75rem;
    float: left;
    color: #36d681;
}
.center ul .list2{
    float: left;
    margin-left: 1.3rem;
    color: #3bacfe;
}
.center ul .list3{
    float: left;
    margin-left: 1.1rem;
    color: #3bacfe;
}
.body{
    width: 100%;
    height: 5rem;
    margin-top: 0.67rem;
    margin-left: 0.3rem;
}
.body ul{
    margin-left:0.35rem;

}
.body ul li{
    width: 100%;
    height: 1.74rem;
    display: flex;
    position: relative;
    margin-top: 0.66rem;
}
.body ul li ::before{
    content: '60元定金';
    width: 1.16rem;
    height: 0.25rem;
    font-size:0.26rem;
    color: #fbb548;
    position: absolute;
    bottom: 0.1rem;
    right: 0.32rem;

}
.body ul li .left{
    width: 1.74rem;
    height: 1.74rem;
}
.body ul li .right{
    flex-grow: 1;
    margin-left: 0.23rem;
    flex-direction: column;
    display: flex;
}
.body ul li .right h1{
    font-size: 0.24rem;
    font-weight: normal;
    font-stretch: normal;
    color: #000000;
}
.body ul li .right span p{
    font-size: 0.22rem;
    color: #000000;
    opacity: 0.3;
    margin-bottom: 0.18rem;
    float: left;
    margin-right: 0.51rem;
    position: relative;
    padding-left: 0.12rem;
}
.body ul li .right span p::before{
    content: '';
    width: 0.05rem;
    height: 0.05rem;
    border-radius: 50%;
    background: #44b5ff;
    position: absolute;
    top:0.16rem;
    left: -0.06rem;
}
.hot{
    float: left;
    width: 1.21rem;
    height: 0.35rem;
    background: rgba(57,171,255,0.1);
    border-radius: 0.18rem;
    margin-right: 0.09rem;
}
.tag{
    color: red;
}
.hot div{
    width: 1.21rem;
    height: 0.35rem;
    font-size: 0.2rem;
    opacity: 1;
    color: #36a8fe;
}
.body ul li .right b{
    font-size: 0.18rem;
    color: #000000;
    opacity: 0.3;
    margin-top: 0.29rem;
}